*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

/*-------------------Nav----------------*/
header{
    width: 100%;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
}

header div{
    width: 90%;
    padding: 20px;
    margin: auto;

    display: flex;
    align-items: center;
}

header h1{
    flex: 1;
    text-decoration: underline;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul{
    display: flex;
}

nav ul li{
    list-style: none;
    font-size: 18px;
    position: relative;
}

nav > ul > li:not(:last-child):after{
    content: "|";
    margin-left: 10px;
}

nav li a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

nav ul li ul{
    position: absolute;
    width: 175px;
    padding: 10px 20px 10px 0px;
    display: none;
    background-color: aquamarine;
    border-radius: 0% 0% 10% 10%;
}

nav ul li:hover ul{
    display: block;
}

/*------------------Main--------------*/

main{
    box-sizing: border-box;
    width: 100%;
    padding: 100px 40px 0px 40px;
    text-align: justify;
}

h2,h3,h4{
    padding: 10px 0px;
}

main h2{
    border-bottom: 2px solid black;
}

main ul{
    margin-left: 20px;
    margin-bottom: 20px;
}

p{
    padding-top: 10px;
    text-indent: 40px;
}

/*-------------------Footer--------------*/
footer{
    background-color: aquamarine;
    padding: 20px 30px;
}

footer div{
    display: flex;
    width: 100%;
}

footer div ul{
    display: flex;
    align-content: flex-end;
}

#datos{
    flex: 1;
    flex-direction: column;
}

#redes li{
    margin-left: 5px;
}

#redes a{
    background: url(../Imagenes/Sprite.png) no-repeat 0 -78px;
    overflow: hidden;
    text-indent: -200px;
    display: inline-block;

    width: 39px;
    height: 39px;
}

#redes #fb:hover{
    background-position: 0 -39px;
}

#redes #pt:hover{
    background-position: -195px -39px;
}

#redes #pt{
    background-position: -195px -78px;
}

#redes #tw:hover{
    background-position: -312px -39px;
}

#redes #tw{
    background-position: -312px -78px;
}

#redes #yt:hover{
    background-position: -390px -39px;
}

#redes #yt{
    background-position: -390px -78px;
}

/*----------------Imagenes----------------*/

#tragos_list{
    display: flex;
    flex-wrap: wrap;
}

#tragos_display ul li{
    display: flex;
    
    width: 100%;
}
/*Gin*/
.titulo{
    width: 8%;
    height: 40px;
}

.texto{
    width: 50%;
    padding: 0px 20px;
    margin: 10px 0px;
    border-right: 2px solid aquamarine;
}

.contenedor_ingredientes{
    display: block;
    width: 20%;
    margin-left: 20px;
}

.contenedor_ingredientes h3{
    padding-left: 10px;
}

.contenedor_ingredientes li{
    padding-top: 5px;
    margin-right: 10px;
    text-align: start;
}

#negroni-tag li{
    display: block;
}

#gin{
    float: right;
    margin: 20px 10px 20px 20px;
}

#gin-tonic-trago{
    display: flex;
    float: right;
    width: 300px;
    margin-right: 20px;
    padding: 10px 0px;
    
    aspect-ratio: 3/2;
    object-fit: fill;
    border-radius: 50px;
}

/*Negroni*/
#negroni-trago{
    float: right;
    width: 200px;
    margin: 0px 10px 10px 20px;

    aspect-ratio: 3/2;
    object-fit:cover;
    border-radius: 50px;
}

#texto_negroni{
    width: 58.8%;
}

/*Pomelo Sour*/
#texto_pomelo{
    width: 81.8%;
}

/*Gin Fizz*/

#gin-fizz-trago{
    float: right;
    width: 250px;
    margin: 0px 10px 10px 20px;

    aspect-ratio: 3/2;
    object-fit:cover;
    border-radius: 50px;
}

#texto_fizz{
    width: 53.8%;
}

